.col-md-6 {
    width: 50%;
    padding-right: 1px;
    margin-bottom: 15px;
    overflow: hidden;
/*    height: 228px;
    min-height: 228px;*/
}
.showLogin{
  display: none;
}
.showLogin a{
  color: red;
}
.panel{
  background-color: #efefef;
}
.panel-default{
  border-color:transparent;
}
.newContent p{
  font-family: Georgia!important;
  font-size: 18px!important;
}
.grid-item{
    height: 268px;
}
.single-post{
  overflow: hidden;
}
.single-post img{
	width: 100%;
 	height: auto;
 
}
.single-title{
  padding: 5px 40px 25px 40px;
  background-color:#fff;
  -moz-box-shadow: 0 -1px 20px -3px #C7C7C7;
  -webkit-box-shadow: 0 -1px 20px -3px #C7C7C7;
  box-shadow: 0 -1px 20px -3px #C7C7C7;
  border-bottom: 1px solid #E8E8E8;
  overflow: hidden;
}

.entry-content img{
    margin: 12px 0;
}
.author-image img{
	width: 84px!important;
  	height: 84px!important;
}
.entry-content ul{
    margin-left: 20px;
    color: #000;
    font-family: Roboto;
}
.entry-content ul li{
     margin-bottom: 3px;
}
.popularFeatSmall{
  display: none;
}
#example3{
  float:left;
  margin:63px 33% 0 33%;
}
#shareme .box{
  float:left;
  margin:5% 8% 0 8%;
  width:100%;
}
#shareme .box a{
  color:#404040;
  text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
  text-decoration:none;
}
#shareme .count {
  font-weight:bold;
  font-size:50px;
  float:left;
  border-right:2px solid #57b8d1;
  line-height:40px;
  padding-right:10px
}
#shareme .share {
  float:left;
  margin-left:10px;
  font-size:20px;
  width:82px;
  line-height: 20px;
}
#shareme .button{
  background: transparent;
}
#shareme .buttons {
  position: absolute;
  width:294px;
  background-color:#fff;
  border: 1px solid rgba(0,0,0,.2);
  padding:10px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#shareme .button {
  float:left;
  max-width:50px;
  margin:0 10px 0 0;
}
#shareme .facebook {
  margin:0 4px 0 0;
}
.button:hover{
  cursor: pointer;
}
.replyBtn{
  border-bottom: 2px solid #CE0C0C;
  border-radius: 2px;
}
#top_comment{
  width: 100%; 
  margin-left:0;
  height:65px;
  -moz-box-shadow: inset 0 0 10px -6px #5A5A5A;
  -webkit-box-shadow: inset 0 0 10px -6px #5A5A5A;
  box-shadow: inset 0 0 10px -6px #5A5A5A;
}
#top_submit{
  margin-left:0;
  border-bottom: 3px solid #870606;
  border-radius: 2px;
  float: left!important;
}
#top_submit:hover{
  background-color: #D20D0D;
}
.commentTextbox{
  margin-left: 75px;
  margin-bottom: 30px;
}
.commentTextbox textarea{
    width: 100%;
    height: 65px;
    border-color: #D6D6D6;
    padding: 5px 10px;
    font-family: Roboto;
}
.commentPostButton{
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    padding-top: 5px;
    margin-top: -6px;
    text-align: right;
}
.commentPic{
  height: 65px; 
  width: 65px; 
  overflow: hidden; 
  float: left; 
  margin-right: 10px;
}

.bigOuter{
  width: 101%;
  height:400px;
  overflow: hidden;
  float: left;
  position: relative;
  top: -1px;
  /*margin-bottom: -85px;*/
  /*border-bottom: 5px solid rgb(229, 229, 229);*/
}
.bigOuter:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 1px;
    width: 90%;
    border-bottom: 6px solid #b70808;
    z-index: 2;
}
.bigInner{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(50%,50%);
  -ms-transform: translate(50%,50%);
  transform: translate(50%,50%);
}
.bigInner img{
     width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/* =============== CSS LOADER ========================== */
.cssload-loader {
  display: block;
  margin:0 auto;
  width: 29px;
  height: 29px;
  position: relative;
  border: 4px solid rgb(0,0,0);
  animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: rgb(0,0,0);
  animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 10px auto;
  background-color: #333;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


.relatedImgHeight a{
  height:150px;
  overflow:hidden;
}
.aroundWebPic{
  height:150px;
  overflow:hidden;
}
.aroundWebWrapper{
  height: 230px; 
  overflow: hidden;
}
.aroundWebText{
  line-height: 20px; 
  font-weight: 600; 
  font-size: 16px; 
  margin-top: 8px;
}
#top-search input[type=text]{
  color: #fff;
}
#top-search .userIMG{
    float: right;
    margin-left: 30px;
    width: 25px;
    margin-top: -2px;
}
#top-search .userIMG img{
    border-radius: 50%;
}

#comment_container p{
  font-family: Roboto!important;
  margin-left: 60px;
  font-weight: 500!important;
}
.commenterName{
  font-size: 12px !important;
  font-weight: 300 !important;
  color: #8F8B8B !important;
}
.commenterName span{
  font-size: 10px !important;
  color: rgb(183, 183, 183) !important;
  float:  right;  
}
.commentContent{
  font-size: 14px !important;
}
.reply_comment{
  float:right ;
}

.form-horizontal .form-group {
    margin-bottom: 8px;   
}
.form-horizontal{
  margin-bottom: 10px;
  overflow: hidden;
  margin-top: 30px;
}


.form-horizontal .form-group .form-control{
   border-radius: 0!important;
}
.form-horizontal .form-group textarea{
   height: 100px;
}
.form-horizontal .form-group label{
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 0;
    margin-bottom: 0;
    font-weight: 500;
}
.form-horizontal h2{
   margin-bottom: 30px;
   color: #000;
  font-family: Oswald;
  overflow: hidden;
}
.form-horizontal h2 a{
     font-size: 13px;
    float: right;
    margin-left: 15px;
    font-family: Roboto;
    text-transform: uppercase;
    margin-top: 15px;
}
.form-horizontal h2 a i{
    color: #fff;
    background-color: #C20808;
    border-radius: 50%;
    padding: 5px 8px 3px 8px;
    font-size: 10px;
}
.form-horizontal h2 a i.two{
    padding: 4px 6px 4px 6px;
}

.loginButton{
    display: block;
    margin-bottom: 30px;
    margin-top: 25px;
}
.loginButton a{
  margin: 5px 10px;
  font-size: 15px;
  font-family: Roboto;
  border: 1px solid #B70808;
  padding: 10px 20px;
  border-radius: 45px;
  transition: background 0.3s ease;
}
.loginButton a:hover,.loginButton a:active, .loginButton a:focus{
  cursor: pointer;
  background-color: #B70808;
  color: #fff;
}

.loginButton .button, .form-horizontal  input[type=submit]{          
 margin:0;
}


@keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-o-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-ms-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-webkit-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@-moz-keyframes cssload-loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

  

/* ====================== RESPONSIVE VIDE =========================- */
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* ====================== NEW HOMEPAGE ============================= */
 .scroller_anchor{height:0px; margin:0; padding:0;}
.scroller{ margin:10px 0 10px 10px; z-index:100; text-align:center; width:255px;}

.mainPostWrapper{
  position:relative;
  z-index:2;
  top: -1px;
  -moz-box-shadow: 3px -15px 15px -7px #545454;
  -webkit-box-shadow: 3px -15px 15px -7px #545454;
  box-shadow: 3px -15px 15px -7px #545454;
}
.padRight0{
  padding-right: 0;
}
.padLeft0{
  padding-left: 0;
}
.remPadR{
    padding-right: 0;
}
.mainPostWrapper{  
  overflow: hidden;
  background-color: #ECECEC;  
}    
.homeViewWrapper, .singleViewWrapper{
  padding:0 30px 50px 30px;
  overflow: hidden;
}
.homeViewWrapper{
  padding-top: 10px;
}
.singleViewWrapper{
  background-color: #fff!important;
}
.popularPost{
  position: relative;
}
.popularPost h2 a{
  display: block;
  font-family: Oswald;
  color: #fff;
  font-size: 33px;
  width: 60%;
  margin: 10px 20px 25px 20px;
  text-shadow: 0px 0px 7px rgb(31, 31, 31);
}
.popularPost img{
  width: 100%;
}
.popularPost .catergory a{
  background-color: #B70808;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  margin-left: 20px;
}
.popularPost .details{
  position: absolute;
  bottom: 0;
}
.popularPost:before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 1px;
    width: 60%;
    border-bottom: 6px solid #b70808;
    z-index: 2;
}
#loadmoreajaxloader{
  margin-top: 20px;
}


.latestPost{    
    padding: 2px 0;
    position: relative;
    margin: 0 10px 0 10px;
}
.latestPost p{
   font-size: 15px!important;
    color: #000!important;
    font-family: Oswald!important;
    text-transform: uppercase;
}
.latestPost:before{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 1px;
    width: 10%;
    border-bottom: 2px solid #000;
}
.post-navigation{
  overflow: hidden;
  background-color: #FFFFFF;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}
.post-navigation .link{
    font-family: Oswald;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;    
    padding: 3px 20px;
    transition: all 0.2s ease-in;
    
    width: 450px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 8px;

}
.post-navigation div > a{
    border-radius: 50%;
    margin-right: 3px;    
}
.post-navigation .readnext{
    font-family: Oswald;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    font-style: oblique;
    background-color: #B70808;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 4px;
}
.grid-item p{
    font-family: Oswald!important;
}
.grid-item p>a{
    color: #fff;
    font-size: 21px;
    line-height: 25px;
    display: block;    
    text-shadow: 1px 1px 16px rgba(0, 0, 0, 1);
}
.grid-item{
  position: relative;
}

.grid-item .details, .details{
    position: absolute;
    bottom: 33px;
    padding: 0 20px;
    margin: 0 7px;
    background: transparent;
    background: -moz-linear-gradient(rgba(255, 255, 255, 0)  0%,rgba(0, 0, 0, 0.7) 90%);
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0)  0%,rgba(0, 0, 0, 0.7) 90%);
    background: -o-linear-gradient(rgba(255, 255, 255, 0)  0%,rgba(0, 0, 0, 0.7) 90%);
    background: -ms-linear-gradient(rgba(255, 255, 255, 0)  0%,rgba(0, 0, 0, 0.7) 90%);
    background: linear-gradient(rgba(255, 255, 255, 0)  0%,rgba(0, 0, 0, 0.7) 90%);
    width: 96.5%
}
.details{
  padding: 5px 15px;
  margin: 0;
  bottom:0;
  border-bottom: 5px solid #B70808;
  width: 100%;
}
.details p a{
  color: #fff;
  font-size: 22px;
}
.grid-item:before{
    content: "";
    position: absolute;
    left: 7px;  
    bottom: 28px;
    height: 1px;
    width: 96.5%;
    border-bottom: 5px solid #B70808;
    overflow: hidden;
}
.sidebarTitle{
  margin-bottom: 0!important;
}
/*.sidebarHead:after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 1;
  height: 1px;
  width: 90%;
  border-bottom: 3px solid #900808;
}*/
.socials{
  padding: 0 15px;
  margin-bottom: 10px;
}
.socials h3{
  font-size: 17px;
  font-family: Oswald;
  color: #000;
  margin-bottom: 10px;
}
.socials .wrappers{
    padding: 15px 10px 8px 10px;        
}
.socials .wrappers h2{
    font-size: 15px;
    font-weight: 700;
    color: #B70808;
    text-transform: uppercase;
    font-family: Oswald;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(183, 8, 8);
}
.authorBox:after{
    content: "";
    position: absolute;
    left: 20px;
    bottom: 400p;
    height: 1px;
    width: 75%;
    /*border-bottom: 5px solid #B70808;*/
    overflow: hidden;
}
.related-posts{
  margin-bottom: 20px;
}
.related-posts h4{
  margin-bottom: 0;
}
.related-posts h4 a{
    font-weight: 700;
    font-size: 16px;
    font-family: Roboto;
    line-height: 18px;
    color: #000!important
}
.related-posts span a{
    font-size: 12px!important;
    font-family: Roboto!important;
    color: #B7B3B3!important;
}
.aroundWebText{
    line-height: 20px;
    margin-top: 5px;    
}
.aroundWebText a{
    font-weight: 500!important;
    font-size: 17px!important;    
    line-height: 18px;
}
.relatedText{
  margin-top: 30px;
}


@media (max-width: 1024px){
    .grid-item {
        height: 225px;
    }
    .grid-item p>a{
        font-size: 19px;
    }
    .postcontent, .postcontent.bothsidebar, .sidebar, .col_full, .col_half, .col_one_third, .col_two_third, .col_three_fourth, .col_one_fourth, .col_one_fifth, .col_two_fifth, .col_three_fifth, .col_four_fifth, .col_one_sixth, .col_five_sixth{
      margin-bottom: 0!important;
      padding-bottom: 0!important;
      border-bottom: 0!important;
    }
    .post-navigation div{
      display: none;
    } 
    .relatedImgHeight{
      height:150px;
      overflow:hidden;
    }
    .aroundWebPic {
        height: 140px;        
    }
    #top-search .userIMG{
      display: none;
    }
  }
   @media screen and (max-width: 991px){
      .homeViewWrapper, .singleViewWrapper {
          padding: 20px 25px 50px 25px!important;            
      }
      #primary-menu ul li.showLogin{
        display: block;
      }
      #primary-menu ul li i{
         top: -1px;
      }
      #header{
        z-index: 999;
        position: fixed;
        width: 100%!important;        
        height: 60px!important;
        top: 0;
        left:0;
      }
      #content{
        margin-top: 40px!important;
      }
      #primary-menu ul li{
        border-top: 1px solid #383838;
      }
      #primary-menu-trigger i{
        font-size: 30px;
      }
      #logo img, .sticky-header #logo img {
          margin-top: 5px;
          height: 45px!important;
      }
      #logo{
        height: auto;
      }
      #primary-menu-trigger{
        top:5px;
      }
      .trendingWrapper p{
        line-height: 18px!important;
      }
      #top-search a, #top-cart, #side-panel-trigger{
        margin: 18px 0;
      }   
      #header, #header-wrap, #primary-menu:not(.style-2), #primary-menu:not(.style-2) > ul{
          height: auto!important;
          background-color: #000;
      }
      #top-search form {
        height: 60px!important;
      }
      .padLeft0{
        display: none;
      }
      .grid-item {
        height: 236px;
      }
      .single-post{
        padding: 10px 20px 0 10px;
      }
      .entry-meta li {
        font-size: 14px;
      }
    }
    @media (max-width: 767px) and (min-width: 480px){
      .container, #header.full-header .container, .container-fullwidth{
          width: auto!important;
        }
    }
    @media screen and (max-width: 768px){     
      .bigOuter{
        width: 100%;
      }
      .social-sharing{
        display: block;
        clear: both;        
      }
      .socialsharebottom{
        padding-left: 0;
      }
      .arrow_box{
          float: none!important;
      }
      .nextPost{
        text-align: left; 
      }
      body{
          background-image: none;
      }  
      .trendingWrapper p{
          font-size: 15px!important;
      }

      .content-wrap {
          padding: 10px 0 10px 0;
      }
      .trendingWrapper{            
            padding-bottom: 15px;            
      }      
      .entry-content{
        margin-top: 10px;
      }
      .entry-title h2{
        font-size: 40px!important;
      }
      .marginTop15{
         margin-top: 15px;      
      }
      .single-post{
          padding: 10px 20px 0 0;
      }
      .latestPostText{
        margin-top: 0;
      }
      .mainPostWrapper{
        box-shadow: 0 0 0 0;
      }
     
      .padLeft0{
        padding-left: 15px!important;
      }
      .padding40 > .container{
        padding: 5px 0;
      }         
      .grid-item{
         height: 232px;
         padding-bottom: 0;
      }
      .grid-item .details{
        bottom: 10px!important;
      }
      .grid-item:before{
        bottom: 5px!important;
      }
      .grid-item p>a {
          font-size: 21px!important;
          line-height: 27px!important;
      }
      .popularFeatBig{
        display: none;
      }
      .popularFeatSmall{
        display: block!important;
      }
      .popularPost h2 a{
          font-size: 50px!important;
      }
      .popularPost h2{
          line-height: 55px!important;
      }
      .popularPost img{
        padding: 0!important;
      }
      .homeViewWrapper{
          padding: 15px 5px!important;
      }
      .singleViewWrapper {
          padding: 0 20px 35px 20px!important;
      }
      .postcontent {
          padding: 0 30px;
          /*border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;*/
      }
      .entry-title h2{
          margin-top: 0;
      }
      .entry-title h2, .post-grid .entry-title h2 {        
        line-height: 50px;
        padding-bottom: 10px;        
        margin-top: 20px;
      }   
      .si-share{
        margin-top: 25px;
      } 
      .single-title {
        padding: 0px 40px 30px 40px;  
        margin-bottom: 10px;
      }
      .authorBox{
        margin-top: 20px;
      }
      .col-md-6{
        width: 100%;
      }
    }
    @media screen and (max-width: 680px){
      .form-horizontal h2 a{
        margin-top: 8px;
      }
      .grid-item:before {
          bottom: 25px!important;
      }
      .grid-item .details {
          bottom: 30px!important;
      }
      .grid-item p>a {
          font-size: 21px!important;
          line-height: 26px!important;
      }
    }  
    @media screen and (max-width: 640px){  
      
      .bigOuter {    
          height: 300px;
      }
      .latestPost:before{
         width: 100%;
      }
      .latestPost p{
        font-size: 25px!important;
      }
      .grid-item p>a {
         font-size: 22px!important;
        line-height: 29px!important;       
      }
      .grid-item {
          height: 195px;
      }
      .aroundWebWrapper {
         height: 220px;
      }
      .si-share {
          margin-top: 20px;
      }    
      .singleViewWrapper {
          padding: 0 10px 35px 10px!important;
      }
      .related-posts h4 a{  
          display: block;
          font-size: 19px;
          line-height: 21px;
          margin-top: 5px;
      }        
    }
    @media screen and (max-width: 603px){
      .grid-item .details {
          bottom: 16px!important;
      }
      .grid-item:before {
          bottom: 11px!important;
      }
      .grid-item p>a {
          font-size: 19px!important;
          line-height: 25px!important;
      }
    }
    @media screen and (max-width: 600px){  
      .si-share {
          margin-top: 20px;
      }
      .entry-title h2, .post-grid .entry-title h2 {
        font-size: 38px !important;
        line-height: 42px;          
        margin-top: 20px;
      }
      .relateWrapper{
        height: 250px;
      }
      .related-posts h4 a{  
          display: block;
          line-height: 20px;
          margin-top: 5px;
      }
      .postcontent {
          padding: 0px 15px;
      }
      .single-title{
         padding: 0px 25px 30px 25px;
      }
      .grid-item:before {
          bottom: 17px!important;
          width: 95.3%;
          border-bottom: 4px solid #B70808;
      }
      .relatedText {
          margin-top: 0;
      }
      .loginButton {       
          margin-top: 30px;
      }
      .grid-item .details {
          bottom: 21px!important;
      }
      .grid-item p>a {
          font-size: 20px!important;
          line-height: 25px!important;
      }
    }
    
    @media screen and (max-width: 504px){ 
        .loginButton {
            margin-top: 25px;
        }
        .grid-item p>a {
          font-size: 17px!important;
          line-height: 24px!important;
      }
    }
    @media screen and (max-width: 480px){
      .postcontent {
        padding: 0 15px;
      }
      .container, #header.full-header .container, .container-fullwidth {
          width: auto!important;
      }
      #primary-menu-trigger i{
        font-size: 25px;
      }
      #logo img, .sticky-header #logo img{
          margin-top: 12px;
          height: 35px!important;
          margin-bottom: 5px;
      }
      .homeViewWrapper{
          padding: 13px 0!important;
      }
      .singleViewWrapper{
        padding: 0px 5px 10px 5px !important;
      }
      .entry-meta {
          float: none;
          margin: 10px 0px 0px 0px;
      }
      .entry-meta li{
        font-size: 12px;
      }
      .entry-content p{
          font-size: 17px!important;
      }
      .single-title {
        padding: 0px 40px 35px 40px;
      }
      .si-share div {
          float: none;          
          margin-bottom: 10px;
      }
     .entry-title h2, .post-grid .entry-title h2 {
        font-size: 35px !important;
        line-height: 40px;
        margin-top: 15px;
      }
      .entry-title h2{
        width: 100%;
      }
      .grid-item p>a {
        font-size: 25px!important;
        line-height: 30px!important;          
      }
      .post-navigation{
        background-color: #efefef;
        padding-top: 5px;
        padding-bottom: 5px;
      }      
      .bigOuter {
          height: 250px;
      }
      .si-share {
          margin-top: 15px;
      }
      .single-title {
          padding: 0px 20px 10px;
      }
      .aroundWebWrapper {
         height: 230px;
      }
      .relateWrapper{
        height: 210px;
      }
      .related-posts h4 a{  
          display: block;
          line-height: 20px;
          margin-top: 5px;
      }
      .loginButton{
          text-align: center;
          margin-top: 30px;
      }
      .loginButton a{
          margin:5px;
          padding: 10px 30px;
      }
      .popularPost h2 {
          line-height: 45px!important;
      }
      .popularPost h2 a {
          font-size: 33px!important;
          width: auto;
      }
    
    }
    @media screen and (min-width: 415px) and (max-width: 480px){
       .grid-item {
            height: 200px;
            overflow: hidden;
        }
        .grid-item:before {
            bottom: 0px!important;
        }
        .grid-item .details {
            bottom: 4px!important;
        }
    }
    @media screen and  (max-width: 414px){
        .arrow_box a{
          font-size: 15px;
        }
        .arrow_box:after{
          top: 58%!important;
          border-width: 26px!important;
        }
        .arrow_box img{
          width: 25px!important;
         top: 18px!important;
        }
        .arrow_box span{
          font-size: 12px!important;
        }
        .popularPost h2 a {
            font-size: 33px!important;
        }
        .popularPost h2 {
            line-height: 41px!important;
        }
        .grid-item p>a {
            font-size: 22px!important;
            line-height: 25px!important;
        } 
        .grid-item {
            height: 252px;
        }
        .grid-item:before {
            bottom: 4px!important;
            width: 96%;
        }
        .grid-item .details {
            bottom: 8px!important;
        }
        .aroundWebWrapper {
           height: 230px;
        }
        .bigOuter {
            height: 230px;
        }
        .aroundWebText{
          margin-top: 0;
        }
        .loginButton .button{
          margin-bottom: 5px;
        }
        .loginButton a{
            margin:5px;
            padding: 10px 20px;
        }
         .form-horizontal h2 a{
          display: block;
          width: 100%;
        }
        .post-navigation .link{
            width: 325px;
        }
         
    }
    @media screen and  (max-width: 375px){
        .singleViewWrapper {
            padding: 0 5px !important;
        }
        .grid-item {
            height: 230px;
        }

        .commentPic {
            height: 35px;
            width: 35px;
        }
        .aroundWebPic {
            height: 115px;        
        }
        .aroundWebWrapper{
          height: 230px;
        }
        .bigOuter {
            height: 200px;
        }
        .entry-title h2, .post-grid .entry-title h2 {
          font-size: 30px !important;
          line-height: 35px;
        }
        .aroundWebWrapper {
             height: 215px;
        }
        .related-posts h4 a{
            line-height: 18px;
        }
        .commentTextbox {
            margin-left: 45px;
        }

         .loginButton a, .form-horizontal  input[type=submit]{
            display: block;
        }        
    }
    @media screen and  (max-width: 360px){
        .trendingWrapper p{
            font-size: 13px!important;
        }
        #logo img, .sticky-header #logo img{
            margin-top: 15px;
            height: 30px!important;
        }   
        #header{
          height: 65px !important;
        }
        #primary-menu-trigger{
          top: 10px;
        }
        #top-search form {
          height: 65px !important;
        }
        #top-search a{
          margin: 23px 5px;
        }
        #logo img, .sticky-header #logo img{
            margin-top: 12px;
            height: 40px!important;
        }  
        .grid-item p>a {
            font-size: 20px!important;
          line-height: 23px!important;
        }        
        .grid-item {
            height: 221px;
        }

        .aroundWebPic {
            height: 105px;        
        }
        .aroundWebWrapper{
           height: 190px;
        }
        .entry-title h2, .post-grid .entry-title h2 {
          font-size: 32px !important;
          line-height: 35px;
          margin-top: 20px;
        }
        .entry-meta li{
          font-size: 12px;
        }
        .relateWrapper{
          height: 190px;
        }
        .related-posts h4 a{
          font-size: 14px!important;          
          line-height: 17px;
          display: block;
          margin-top: 6px;
        }
        .postcontent {
            padding: 0 10px;
        }
        .popularPost h2 {
            line-height: 35px!important;
        }
        .popularPost h2 a {
            font-size: 27px!important;
        }
    }
     @media screen and (max-width: 320px){

        .popularPost h2 a {
            font-size: 29px!important;
            width: 80%;
        }
        .popularPost h2 {
            line-height: 35px!important;
        }
        .grid-item {
            height: 197px;
        }      
        .grid-item:before {
            bottom: 4px!important;
        }
        .aroundWebWrapper {
            height: 180px;
        }
        .aroundWebPic {
            height: 95px;        
        }   
        .aroundWebText{
           line-height: 17px!important;
        }
        .aroundWebText a{
            font-size: 14px!important;
        }
        .bigOuter {
            height: 185px;
        }
        .entry-title h2, .post-grid .entry-title h2{
            font-size: 28px !important;
            line-height: 31px;   
        }
        .entry-meta li {
            font-size: 11px!important;
            margin-right: 0px!important;
        }
        .bigOuter:before{
            border-bottom: 4px solid #b70808;            
        }
        .related-posts h4 a {
            line-height: 16px;
            margin-top: 0px;
        }        
       
     
    }